#search
  .container
    h1 Search results for <span class="query">#{query}</span>
    ol#searchResults
      if results.length ===0
        p Aw snap! We couldn't find anything!
      each result in results
        li.result
          a.title(href='/taxon/'+result.id)= result.title
          blockquote: p= result.content