#info
  .container
    #picture
      img.taxonPhoto(src=page.image)
    #blurb
      h1.scientificName= page.scientificName
      p.eol: a(target='_blank', href='http://eol.org/pages/'+page.identifier) See this species in EoL
      p You probably knew that species have scientific names written in Latin. But did you know that one organism typically has several of them? And that they are sometimes hotly contested?
      p These graphs show the all the different names for <span class="scientificName">#{page.scientificName}</span> and how often those names were published through history. You can see how the use of names grow and change. The names are provided by the <a href="http://eol.org">Encyclopedia of Life</a> and the publications are from the <a href="http://biodiversitylibrary.org">Biodiversity Heritage Library</a>.
#timeline
  .container
    #scale: img(src='/scale.png')
ul#aggregate
ul#taxa

//- Libraries
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js', type="text/javascript")
script(src='/socket.io/socket.io.js', type="text/javascript")
!=js('/_taxon.js')

//- Templates
script(id='taxon', type='text/html')
  li
    div.container
      div.taxon(id='{{ htmlId }}')
        div.name {{ name }}
        div.graph

script(type='text/javascript')
  $(function(){
    window.socket      = io.connect();
    window.socket.on('connect', function(){ 
      window.socket.emit('searchFor', #{page.identifier} );
    });
  
    window.application = ApplicationController.init(window.socket);
    $('body').append(application.view.render().el);
    
    
    $.waypoints.settings.scrollThrottle = 30;
    $('#timeline').waypoint(function(event, direction) {
      $(this).parent().toggleClass('sticky', direction === "down");
      event.stopPropagation();
    });

  });