extends layout

block body
  #info
    .container
      #picture
        img.taxonPhoto(src='/error.png')
      #blurb
        h1.scientificName Uh Oh!
        p It appears that the <a href="http://eol.org" target="_blank">Encyclopedia of Life</a>'s <abbr title="Application Programming Interface">API</abbr> is not responding right now. Unfortunately, there's not much I can do about that. You can try again later, or try a different species. Sorry about that!
      