html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
body{min-width:960px}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:before,.clearfix:after{content:"\0020";display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{clear:both}
.clearfix{zoom:1}
.container{width:960px;margin-left:auto;margin-right:auto;zoom:1;}
.container:before,.container:after{content:"\0020";display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.container:after{clear:both}
header #logo{width:220px;display:inline;float:left;margin-left:10px;margin-right:10px}
header #searchForm{width:540px;display:inline;float:left;margin-left:10px;margin-right:10px}
header nav{width:140px;display:inline;float:left;margin-left:10px;margin-right:10px}
#searchResults{width:940px;display:inline;float:left;margin-left:10px;margin-right:10px}
#info #picture{width:300px;display:inline;float:left;margin-left:10px;margin-right:10px;margin-left:-70px}
#info #blurb{width:700px;display:inline;float:left;margin-left:10px;margin-right:10px}
#about h1{width:940px;display:inline;float:left;margin-left:10px;margin-right:10px}
#about #author,#about #buzzwords,#about #attribution{width:300px;display:inline;float:left;margin-left:10px;margin-right:10px}
#nerdAlert  p{width:460px;display:inline;float:left;margin-left:10px;margin-right:10px;}
#nerdAlert  p footer{width:940px;display:inline;float:left;margin-left:10px;margin-right:10px}
#home #introduction{width:540px;display:inline;float:left;margin-left:10px;margin-right:10px}
#home #screenshot{width:380px;display:inline;float:left;margin-left:10px;margin-right:10px}
#error #message{width:940px;display:inline;float:left;margin-left:10px;margin-right:10px}
#examples h1,#search h1,#home h1,#error h1,#nerdAlert h1{width:940px;display:inline;float:left;margin-left:10px;margin-right:10px}
.exampleGroup .example{width:300px;display:inline;float:left;margin-left:10px;margin-right:10px}
@font-face{font-family:"QuicksandBook";src:url("/fonts/Quicksand_Book-webfont.eot");src:url("/fonts/Quicksand_Book-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/Quicksand_Book-webfont.woff") format("woff"),url("/fonts/Quicksand_Book-webfont.ttf") format("truetype"),url("/fonts/Quicksand_Book-webfont.svg#QuicksandBook") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:"QuicksandBold";src:url("/fonts/Quicksand_Bold-webfont.eot");src:url("/fonts/Quicksand_Bold-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/Quicksand_Bold-webfont.woff") format("woff"),url("/fonts/Quicksand_Bold-webfont.ttf") format("truetype"),url("/fonts/Quicksand_Bold-webfont.svg#QuicksandBold") format("svg");font-weight:normal;font-style:normal}
body{background-color:#e6e6e6;font-family:QuicksandBook;font-size:16px;line-height:22px;color:#333;-webkit-font-smoothing:subpixel-antialiased}
h1{font-size:37px;line-height:44px;text-shadow:0 1px #fff}
p{margin-bottom:22px;}
p:last-child{margin-bottom:0}
::selection{text-shadow:none;background:#4380b8}
a{color:#4380b8;text-decoration:none;}
a:visited{color:#4c5392}
a:hover{text-decoration:underline}
img.taxonPhoto{display:block;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.50);-moz-box-shadow:0 1px 4px rgba(0,0,0,0.50);box-shadow:0 1px 4px rgba(0,0,0,0.50);border:5px solid #fefefe}
.ie{background-color:#00f;color:#fff;font-family:"Comic Sans","Comic Sans MS",sans;padding:44px 0;}
.ie a{text-decoration:underline;color:#ff0}
header{height:55px;padding-top:11px;background:#2f2f2f url("/header-pattern.png") repeat;-webkit-box-shadow:0 -6px 8px rgba(0,0,0,0.30) inset;-moz-box-shadow:0 -6px 8px rgba(0,0,0,0.30) inset;box-shadow:0 -6px 8px rgba(0,0,0,0.30) inset;}
header #logo{padding-top:4px;}
header #logo a{font:36px/36px QuicksandBold;font-weight:normal;color:#fff;text-decoration:none;text-shadow:0 2px 8px rgba(0,0,0,0.75),0 -1px 0 #ccc}
header #searchForm{padding-top:11px;text-align:center;}
header #searchForm input#q{width:220px}
header nav{text-align:right;}
header nav a{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #95dfee), color-stop(1, #53cbe3));background:-webkit-linear-gradient(top, #95dfee 0%, #53cbe3 100%);background:-moz-linear-gradient(top, #95dfee 0%, #53cbe3 100%);background:linear-gradient(top, #95dfee 0%, #53cbe3 100%);color:#333 !important;line-height:44px;padding:.5em .75em .3em .75em;-webkit-border-radius:.25em;-moz-border-radius:.25em;border-radius:.25em;-webkit-box-shadow:0 1px 8px rgba(0,0,0,0.75),0 1px 0 rgba(255,255,255,0.30) inset;-moz-box-shadow:0 1px 8px rgba(0,0,0,0.75),0 1px 0 rgba(255,255,255,0.30) inset;box-shadow:0 1px 8px rgba(0,0,0,0.75),0 1px 0 rgba(255,255,255,0.30) inset;text-shadow:0 1px 0 rgba(255,255,255,0.20)}
#home #screenshot{padding-top:5px}
#examples,.exampleGroup{background:#2f2f2f url("/header-pattern.png") repeat;}
#examples h1,.exampleGroup h1{color:#eee;text-shadow:0 -1px 0 #000}
#examples{-webkit-box-shadow:0 6px 8px rgba(0,0,0,0.30) inset;-moz-box-shadow:0 6px 8px rgba(0,0,0,0.30) inset;box-shadow:0 6px 8px rgba(0,0,0,0.30) inset;padding:11px 0}
.exampleGroup{border-top:1px solid #343434;border-bottom:1px solid #2a2a2a;padding:22px 0;}
.exampleGroup .example{zoom:1;color:#eee !important;}
.exampleGroup .example:before,.exampleGroup .example:after{content:"\0020";display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.exampleGroup .example:after{clear:both}
.exampleGroup .example img{max-width:100px;max-height:100px;margin-right:.5em;float:left;border-color:#eee;-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.90);-moz-box-shadow:0 1px 5px rgba(0,0,0,0.90);box-shadow:0 1px 5px rgba(0,0,0,0.90)}
.exampleGroup .example .scientificName{font-size:23px}
#about,#home,#search,#error{border-bottom:1px solid #d9d9d9}
#info,#about,#home,#search,#error{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc), color-stop(1, #f5f5f5));background:-webkit-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);background:-moz-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);background:linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);padding:22px 0;-webkit-box-shadow:0 1px 0 #fff inset;-moz-box-shadow:0 1px 0 #fff inset;box-shadow:0 1px 0 #fff inset}
#nerdAlert{padding-top:11px;}
#nerdAlert footer{text-align:center;}
#nerdAlert footer img{margin-top:22px}
#searchResults li{margin-bottom:22px;}
#searchResults li blockquote p{height:22px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:14px;color:#999}
#info #picture{padding-top:22px;}
#info #picture img{max-width:240px;max-height:240px;margin:auto;-webkit-transform:rotate(-2deg);-moz-transform:rotate(-2deg);transform:rotate(-2deg)}
#info p.eol{margin-bottom:11px;}
#info p.eol a{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #95dfee), color-stop(1, #53cbe3));background:-webkit-linear-gradient(top, #95dfee 0%, #53cbe3 100%);background:-moz-linear-gradient(top, #95dfee 0%, #53cbe3 100%);background:linear-gradient(top, #95dfee 0%, #53cbe3 100%);color:#fff !important;padding:.5em .75em .3em .75em;-webkit-border-radius:.5em;-moz-border-radius:.5em;border-radius:.5em;border:1px solid #53cbe3;border-bottom-color:#27bedc;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.30),0 1px 0 rgba(255,255,255,0.30) inset;-moz-box-shadow:0 1px 2px rgba(0,0,0,0.30),0 1px 0 rgba(255,255,255,0.30) inset;box-shadow:0 1px 2px rgba(0,0,0,0.30),0 1px 0 rgba(255,255,255,0.30) inset;text-shadow:0 -1px 0 rgba(0,0,0,0.10);font-size:11px;line-height:11px}
#timeline{height:44px;background:#fafafa;border-top:1px solid #fefefe;border-bottom:1px solid #e6e6e6;}
#timeline #scale{width:940px;display:inline;float:left;margin-left:10px;margin-right:10px;}
#timeline #scale img{margin-top:10px}
.sticky #timeline{background:none;}
.sticky #timeline .container{position:fixed;top:0;left:0;width:100%;background:rgba(255,255,255,0.92);z-index:1000000;height:44px;border-bottom:1px solid rgba(0,0,0,0.10);}
.sticky #timeline .container #scale{float:none;margin:auto;display:block}
#aggregate li{background:#f0f0f0;border-bottom:1px solid #dedede;}
#aggregate li .taxon .name{color:#e15e00;text-shadow:0 0 5px #ffa361,0 1px 0 #fff}
#taxa li{border-top:1px solid #ebebeb;border-bottom:1px solid #e1e1e1;}
#taxa li:first-child{border-top:none}
.taxon{width:940px;display:inline;float:left;margin-left:10px;margin-right:10px;position:relative;}
.taxon .graph{height:88px;padding:11px}
.taxon .name{position:absolute;top:44px;left:0;text-shadow:0 1px 0 #fff}
.taxon.noData .name:after{content:" (no data)";font-size:11px;color:#666}
.taxon.loading .name{color:#999}
.taxon.loading .graph path{fill:#ccc}
.taxon.loading.noData .name:after{content:url("/ajax-loader.gif");height:16px;width:16px;margin-left:.5em}
.graph path{stroke-width:0;fill:#333}
