@font-face {
    font-family: 'QuicksandBook';
    src: url('/fonts/Quicksand_Book-webfont.eot');
    src: url('/fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Quicksand_Book-webfont.woff') format('woff'),url('/fonts/Quicksand_Book-webfont.ttf') format('truetype'),url('/fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandBold';
    src: url('/fonts/Quicksand_Bold-webfont.eot');
    src: url('/fonts/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),url('/fonts/Quicksand_Bold-webfont.woff') format('woff'),url('/fonts/Quicksand_Bold-webfont.ttf') format('truetype'),url('/fonts/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;
}