// var_grid_debug = true

.container
  container()
  clearfix()

header
  #logo
    grid 3
  #searchForm
    grid 7
  nav
    grid 2

#searchResults
  grid 12


#info
  #picture
    grid 4
    margin-left -70px
  #blurb
    grid 9

#about
  h1
    grid 12
  #author
  #buzzwords
  #attribution
    grid 4

#nerdAlert  p
    grid 6
    
    footer
      grid 12

#home  
  #introduction
    grid 7
  #screenshot
    grid 5

#error
  #message
    grid 12

#examples, #search, #home, #error, #nerdAlert
  h1
    grid 12

.exampleGroup .example
    grid 4
